force-app/main/default/flows/Case_AfterUpdate_LogDisruption.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <description>Autolaunched Flow registered as an ordered Trigger Action (after update, order 30). Runs AFTER the Apex refund (10) and notification (20). Creates a Disruption_Log__c for the Case; on failure, publishes an Error_Event__e so the failure is captured durably via the same pipeline as Apex. Conforms to the Trigger Actions Framework contract: input variable named "record" of type Case.</description>
    <environments>Default</environments>
    <interviewLabel>Case After Update Log Disruption {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case After Update Log Disruption</label>
    <processType>AutoLaunchedFlow</processType>
    <status>Active</status>

    <!-- INPUT: the framework sets this per record. Name + type are mandated. -->
    <variables>
        <name>record</name>
        <dataType>SObject</dataType>
        <objectType>Case</objectType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>

    <variables>
        <name>recordPrior</name>
        <dataType>SObject</dataType>
        <objectType>Case</objectType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>

    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Cancellation</targetReference>
        </connector>
    </start>

    <!-- Only log when the Case is a cancellation -->
    <decisions>
        <name>Is_Cancellation</name>
        <label>Is Cancellation?</label>
        <locationX>50</locationX>
        <locationY>120</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Cancellation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue><stringValue>Cancellation</stringValue></rightValue>
            </conditions>
            <connector><targetReference>Create_Disruption_Log</targetReference></connector>
            <label>Yes</label>
        </rules>
    </decisions>

    <!-- Real work: create the disruption log. Fault path publishes an event. -->
    <recordCreates>
        <name>Create_Disruption_Log</name>
        <label>Create Disruption Log</label>
        <locationX>50</locationX>
        <locationY>240</locationY>
        <inputAssignments>
            <field>Case__c</field>
            <value><elementReference>record.Id</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Disruption_Type__c</field>
            <value><elementReference>record.Type</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Logged_At__c</field>
            <value><elementReference>$Flow.CurrentDateTime</elementReference></value>
        </inputAssignments>
        <object>Disruption_Log__c</object>
        <faultConnector><targetReference>Publish_Error_Event</targetReference></faultConnector>
    </recordCreates>

    <!-- Rollback-safe error handling: publish the SAME platform event the Apex
         side uses, so LogErrorEventTrigger writes an Error_Log__c even though
         this Flow runs inside the trigger transaction. -->
    <recordCreates>
        <name>Publish_Error_Event</name>
        <label>Publish Error Event</label>
        <locationX>250</locationX>
        <locationY>360</locationY>
        <inputAssignments>
            <field>Action_Name__c</field>
            <value><stringValue>Case_AfterUpdate_LogDisruption</stringValue></value>
        </inputAssignments>
        <inputAssignments>
            <field>Context__c</field>
            <value><stringValue>After_Update_Flow</stringValue></value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value><elementReference>$Flow.FaultMessage</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value><elementReference>record.Id</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>SObject_Type__c</field>
            <value><stringValue>Case</stringValue></value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity__c</field>
            <value><stringValue>Error</stringValue></value>
        </inputAssignments>
        <object>Error_Event__e</object>
    </recordCreates>
</Flow>
